*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 20px;
    text-align: center;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    /* opacity: ; */ 
}

.contaner{
    /* background-color: aquamarine; */
    max-width: 80%;
    margin: auto;
    padding: 25px;
}
input ,textarea{
    background-color: rgb(239, 247, 242);
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    width: 70%;
    margin: -2px 2px;
    font-size: 16px;
    height: 30px;
    text-align: center;
    
}

.btn{
    color: aliceblue;
    background-color: black;
    padding: 8px 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

